.details-gallery {
  display: grid;
  grid-template-columns: repeat(4, minmax(180px, 1fr));
  grid-template-rows: 180px 180px;
  grid-gap: 8px;
  gap: 8px;
}

.details-gallery img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.details-gallery :first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
}

.details-gallery :nth-child(3) {
  border-top-right-radius: 13px;
}

.details-gallery :nth-child(5) {
  border-bottom-right-radius: 13px;
}

.host-details {
  border-bottom: ridge;
}

.summary {
  border-bottom: ridge;
}

.gallery-list {
  list-style: none;
}
