* {
  box-sizing: border-box;
}

body {
  margin: 0;
<<<<<<< HEAD
}

html {
  font-family: Airbnb-Book, sans-serif;
}
=======
  font-family: sans-serif;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
  }
}
>>>>>>> 0b48be71554aeb7b7d6730dc8446ce026196e618
