// Flex
.flex {
  display: flex;
}
.flex.inline-flex {
  display: inline-flex;
}
.align-self-center {
  align-self: center;
}
.flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.align-items {
  align-items: center;
}
