@font-face {
  font-family: Airbnb-Bold;
  src: url(../fonts/Airbnb_Cereal-Bold.ttf);
}

@font-face {
  font-family: Airbnb-Book;
  src: url(../fonts/Airbnb_Cereal-Book.ttf);
}

@font-face {
  font-family: Airbnb-Medium;
  src: url(../fonts/Airbnb_Cereal-Medium.ttf);
}
