
.large-search{
    // display: none;
    // margin-top: -5rem;
    opacity: 100%;
    transition: opacity 1s;
    // position: fixed;
    z-index: 3;
    position:absolute;
  
    background-color: $clr3;
    // border-radius: 2rem;
    // padding: 1rem 2rem;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.15);
}
.large-search-modal{
    position: absolute;
    opacity: 100%;
}




.filter-large-modal{
width: 100%;
display: flex;
justify-content: center;
}