.stay-preview-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  // width: rem(265px);
  
}

.stay-name-preview {
  margin: 0;
}

.preview-img {
  border-radius: 20px;
  // height: rem(265px);
  // width: rem(265px);
  aspect-ratio: 1/1;
  object-fit: cover;
}

.card-img {
  position: relative;
  // width: 50%;
}

.card-img .like-btn {
  position: absolute;
  top: 5%;
  left: 170%;
  background: none;
  cursor: pointer;
}

.card-img .liked{
  position: absolute;
  top: 5%;
  left: 170%;
  background: none;
  cursor: pointer;
}
