<<<<<<< HEAD
=======
.stay-preview-card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}


>>>>>>> 4fd74a4680fd1d87ac4fa0686ab9275fa9dab2c2
.preview-img {
  border-radius: 20px;
  height: 300px;
  aspect-ratio: 1/1;
}
