.stay-preview-card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}


.preview-img {
  border-radius: 20px;
  height: 300px;
  aspect-ratio: 1/1;
}
