.header-search {
  display: inline-flex;
  border-radius: 3.2rem;
  overflow: hidden;
  align-items: center;
  border: 1px solid lightgray;
  color: var(clr1);
  width: rem(400px);
  height: rem(48px);
  transition: box-shadow 2s;
  box-shadow: 1px 1px 6px -1px #000000;
  &:hover {
    box-shadow: 1px 1px 8px 1px #000000;
  }
  button {
    background: transparent;
    height: 3rem;
    width: 10rem;
    padding: 0 1rem;
    align-items: center;
    color: var(clr1);
    border: none;

    .filter-search-icon {
    //   color: white;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: rgb(216, 70, 94);
      display: flex;
    }
  }
  button:nth-of-type(3) {
    width: 11rem;
    justify-content: space-between;
    color: lightgray;
    img{
        color: white;
    }



  }
}


.filter-search-icon img {
    margin-inline-end: 0;
    color: white;
    width: 1rem;
    height: 1rem;
}

.add-btn{
background-color: red;
}

